* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

#header {
    height: 100px;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}

#header > h1 {
    float: left;
}

#header > ul {
    margin: 20px 0 0 0;
    width: 1000px;
    float: right;
}

#header > ul > li {
    float: left;
    padding: 0 40px 0 40px;
}

#visual {
    height: 500px;
    background: blue;
}

#contents {
    height: 920px;
    background: yellow;
}

#footer {
    height: 170px;
    background: silver;
}

/* 
    - public
        - css
            - index.css
    - index.html
*/
