<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>hello world!</h2>
        <ul>
            <li>aaaa menu1</li>
        </ul>
        <form method="post" action="/user">
            <input type="text" name="userid" />
            <input type="submit" value="버튼" />
        </form>
    </body>
</html>
