<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form method="post" action="/write">
            <ul>
                <li>제목 : <input type="text" name="subject" /></li>
                <li>이름 : <input type="text" name="name" /></li>
                <li>
                    내용 <br />
                    <textarea name="content"> </textarea>
                </li>
            </ul>
            <button type="submit">전송</button>
        </form>
    </body>
</html>
