<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <table>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            {% for item in list %}
            <tr>
                <td>{{item.idx}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.writer}}</td>
                <td>{{item.registerDate}}</td>
                <td>{{item.hit}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
