* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

#visual {
    position: relative;
    width: 1900px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

#visual > li {
    position: absolute;
    transition: all 1s;
    opacity: 0;
}

#visual > li.on {
    opacity: 1;
}
