<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>AJAX</h1>
        <button id="ajax_get">ajax_get</button>
        <button id="ajax_post">ajax_post</button>

        <div id="msg"></div>
        <div id="userlist">
            <!-- <ul>
                <li>1</li>
                <li>web7722</li>
                <li>1234</li>
                <li>ingoo</li>
                <li>남자</li>
            </ul> -->
        </div>
        <input type="text" name="userid" id="userid" />
        <button id="btn">유저추가</button>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
