* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background: red;
}

#header > h1 {
    width: 200px;
    background: blue;
}

#header > ul {
    display: flex;
    background: yellow;
}

#header > ul > li > a {
    display: inline-block;
    width: 180px;
}
