<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>view page</h2>

        <ul>
            <li>제목 : {{item.subject}}</li>
            <li>작성자 : {{item.name}}</li>
            <li>내용 : {{item.content}}</li>
        </ul>

        <a href="/list">목록가기</a>
        <a href="/modify?index={{item.index}}">수정</a>
        <a href="/delete?index={{item.index}}">삭제</a>
    </body>
</html>
